{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'snsorder/styles.css' %}">
    </head>
    <body>
        <nav>
            <div>
                <div>
                    <div>
                        <div class="flex">
                            <img class="h-8 w-8" src="{% static 'snsorder/images/logo.png' %}" alt="logo">
                            <span class="text-xl">   SNS Order</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <h4>
            {% for item in items%}
            <a href = "{% url 'detail' item.id %}">
            ID: {{item.id}}  Имя: {{item.name}} | Цена: {{item.price}} <br/>
            Описание: {{item.description}} <br/> <br/>
            </a>
            {% endfor %}
        </h4>
    </body>
</html>